<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logdebug" xsi:type="Console" />
        <target name="loginfo" xsi:type="File" fileName="..\..\..\log\infoLog.log" />
        <target name="logapp" xsi:type="File" fileName="..\..\..\log\appLog.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logdebug" />
        <logger name="*" minlevel="Info" maxlevel="Info" writeTo="loginfo" />
        <logger name="*" minlevel="Warn" writeTo="logapp" />
    </rules>
</nlog>